 <div id="page-content">

</div>

<div class="container" id="home-container">
    <div class="jumbotron text-center text-#050063">
        <h1 class="display-4">Habitrack!</h1>
        <p class="lead">An application for developing new habits</p>
        <hr class="my-4">
        <%= link_to "Sign Up!",signup_path, class: "btn btn-success btn-lg" %>
    </div>
</div> 




