 <div id="page-content">

</div>

<div class="container " id="home-container">
    <div class="jumbotron text-center text-#050063" style="height: 400px;">
        <h1 class="display-4" style="font-family: 'Times New Roman', Times, serif;">Habitrack!</h1>
        <p class="lead" style="font-family: 'Times New Roman', Times, serif; font-size: 24px;"><br>An application for developing new habits.<br> Use habitrack to keep track of your goals.</p>
        <hr class="my-4">
        <% if !logged_in? %>
            <%= link_to " Login! ",login_path, class: "btn btn-primary btn-lg" %>
            <%= link_to "Sign Up!",signup_path, class: "btn btn-success btn-lg" %>
        <% else %>
            <%= link_to " My Habits ",habits_path, class: "btn btn-primary btn-lg" %>
        <% end %>    
    </div>
</div> 




