@import 'bootstrap/dist/css/bootstrap';

.navbar {

    background-color: #050063 !important;
    
    }

.nav-link {
    color: white !important;
}    

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
    }   

#home-container {
    margin-top: 25px;
}    

.card {
}

.jumbotron {
    background-image: asset-url('jumbo-copy.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Sticky Footer Classes */

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background: rgb(160, 242, 255);
}

#sticky-footer {
  flex-shrink: none;
}

/*stylesheets*/
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; 
    border-radius: 5px;
  }
  .flickr_pagination .disabled {
    color: #050063; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #100f0f; }
  .flickr_pagination a {
    border: 1px solid #050063;
    color: #050063;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #050063;
      background: whitesmoke;
      color: #050063; }
  .flickr_pagination .page_info {
    color: #050063;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }

    .custom-card {
      background-color: #0a1dc9; /* Change to the desired color */
      color: #ffffff; /* Change to the desired text color */
    }

    .completion-percentage {
      font-size: 24px;
      font-weight: bold;
      color: #ff0000; /* Set your desired color */
      margin-top: 10px;
    }

    .completed-target {
      font-size: 24px;
      font-weight: bold;
      color: #00cc00; /* Set your desired color */
      text-align: center;
      margin-top: 10px;
    }

    .table {
      border-collapse: collapse;
      width: 100%;
      border: 2px solid black;
    }
    
    .table th,
    .table td {
      padding: 10px;
      text-align: left;
    }
    
    .table th {
      background-color: #b4b8bf;
      font-weight: bold;
    }
    
    .table tbody tr:nth-child(even) {
      background-color: #f9f9f9;
    }
    
    .table tbody tr:hover {
      background-color: #e6e6e6;
    }
    
    .btn-sm {
      padding: 5px 10px;
      font-size: 12px;
    }
    
    .btn-outline-success {
      color: #0a1dc9;
      border-color: #0a1dc9;
    }
    
    .btn-outline-success:hover {
      background-color: #0a1dc9;
      color: #fff;
    }
    
    .btn-outline-info {
      color: #080807;
      border-color: #141311;
      background-color: #ffe62d;
    }
    
    .btn-outline-info:hover {
      background-color: #ffe62d;
      color: #0b0a0a;
    }
    
    .btn-outline-danger {
      color: #dc3545;
      border-color: #dc3545;
    }
    
    .btn-outline-danger:hover {
      background-color: #dc3545;
      color: #fff;
    }
    


