<h1 class="text-center mt-4">Categories</h1>


<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-10">
      <table class="table">
        <thead>
          <tr>
            <th>Category Name</th>
            <th>Number of Habits</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
          <tr>
            <td><%= link_to category.name, category_path(category), class: "text-success" %></td>
            <td><%= Habit.where(category_id: category.id).count %></td>
            <td>
            <% if logged_in? && (current_user.admin?) %>
              <%= link_to "View", category_path(category), class: "btn btn-sm btn-outline-success" %>
              <%= link_to "Edit", edit_category_path(category), class: "btn btn-sm btn-outline-info" %>
            <% else %>
            Only for admin  
            <% end %>
              
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


