<h1 class="text-center mt-4">Category: <%= @category.name %></h1>
<%= link_to "Delete", category_path(@category), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>

