<h1 class="text-center mt-4">Listing my habits </h1>

<div class="flickr_pagination">
    <%= will_paginate @habits, :container => false %>
</div>

<%= render 'habit' %>

<div class="flickr_pagination mb-4">
    <%= will_paginate @habits, :container => false %>
</div>

<%= line_chart Habit.group_by_month(:created_at).count %>
<h4 class="text-center mt-4">Habits created per month </h1>